{% extends "./app/index.html.twig" %}

{% block body %}
    <div class="grid grid-cols-12 gap-6">
        {% for event in events %}
            <div class="col-span-full sm:col-span-6 xl:col-span-4 bg-white dark:bg-gray-800 shadow-xs rounded-xl">
                <div class="flex flex-col h-full">
                    <div class="grow p-5">
                        <div class="flex justify-between items-start">
                            <header>
                                <div class="flex mb-2">
                                    <div class="mt-1 pr-1">
                                        <a class="inline-flex text-gray-800 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white"
                                           href="{{ path('app_events_details', {'event': event.id}) }}">
                                            <h2 class="text-xl leading-snug justify-center font-semibold">
                                                {{ event.date | date('l d M Y') }}
                                            </h2>
                                        </a>

                                        <div class="flex items-center">
                                            <span
                                                class="text-sm font-medium text-gray-400 dark:text-gray-500 -mt-0.5 mr-1">{{ event.games | length }} jeu{{ (event.games | length > 1) ? 'x' : '' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>

                    <div class="border-t border-gray-100 dark:border-gray-700/60">
                        <div class="flex divide-x divide-gray-100 dark:divide-gray-700/60">
                            <a class="block flex-1 text-center text-sm text-violet-500 hover:text-violet-600 dark:hover:text-violet-400 font-medium px-3 py-4"
                               href="{{ path('app_events_details', {'event': event.id}) }}">
                                <div class="flex items-center justify-center">
                                    <span>Voir -></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
